---
title: Backbone in Middleman for Exam
---


<style type="text/css">
	#apples {
		background: red;
		font-size: 3em;
	}
	#pears {
		background: green;
		font-size: 3em;
	}
	#mango {
		background: orange;
		font-size: 3em;
	}
	#hideme {
		display: none;
	}
</style>


<div id="apples">APPLES APPLES APPLES</div>
<button id="mybutton">CLICK ME</button>

<div id="pears">PEARS PEARS PEARS</div>
<button id="pearsbutton">CLICK ME TOO</button>

<div id="mango">MANGO MANGO MANGO</div>
<div id="hideme">Can you see me?????????</div>
<button id="mangobutton">CLICK ME THREE</button>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery-migrate-1.1.1.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/app.js"></script>



<script src="javascripts/jquery-1.9.1.min.js"></script>
<script src="javascripts/jquery-migrate-1.1.1.min.js"></script>
<script src="javascripts/underscore-min.js"></script>
<script src="javascripts/backbone-min.js"></script>
<script src="javascripts/app.js"></script>